<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>

    {% include nav-footer.html %}
    <div>
    <a href="https://facebook.com/100090206701365/" target="_blank">Connect with us on&nbsp;<svg width="12" height="12" class="icon  icon--facebook" role="img" alt="facebook" style="margin-top: -4px;"><title>facebook</title><use xlink:href="#facebook" fill="CurrentColor"></use></svg>
      </a>
    <a href="https://www.instagram.com/campaignforshirleycpa/" target="_blank">and&nbsp;<svg width="12" height="12" class="icon  icon--instagram" role="img" alt="instagram" style="margin-top: -4px;"><title>Instagram</title><use xlink:href="#instagram" fill="CurrentColor"></use></svg>
      </a>
    </div>
  </div>
</footer>
